.button3 {
    --transition: all 0.3s ease-in-out;
    --color: var(--blue-2);
    padding: 12px 20px;
    color: var(--color);
    font-size: pxWidthInVw(18);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-family: $default-font;
    line-height: 100%;
    transition: var(--transition);
    text-decoration: none;
    border: 1px solid var(--blue, #6DACE2);
    justify-content: center;

    @media screen and (max-width:767px) {
        font-size: 16px;
    }

    [fill] {
        transition: var(--transition);
    }

    &:hover {
        border: 1px solid #6DACE2;
        background: rgba(109, 172, 226, 0.25);

        [fill] {
            fill: #fff;
        }
    }

    &.active,
    &:active {
        background: #0273CF;
        color: #fff;

        [fill] {
            fill: #fff;
        }
    }

    &:disabled {
        border: 1px solid var(--blue, #6DACE2);
        opacity: 0.4;
        pointer-events: none;
    }
}