
@mixin imgAbsolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.characteristics {
    padding-top: var(--section-v-offset);
    padding-bottom: var(--section-v-offset);
    background-color: var(--white);
    &__content {
        @include row-flex;
        align-items: flex-start;
        row-gap: 60px;
        @media screen and (max-width:767px){
            row-gap: 24px;
        }
    }
    &__title {
        @include size(12);
        @include shift(0);
        @include size-xs(12);
        @include shift-xs(0);
    }
    &__list {
        @include size(6);
        @include shift(0);
        @include size-xs(12);
        @include shift-xs(0);
        padding: 30px;
        border: 1px solid #E4E4E4;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 32px;
        column-gap: 40px;
        @media screen and (max-width:767px){
            grid-template-columns: 1fr;
            padding: 18px;
        }
        &-item {
            display: grid;
            column-gap: 12px;
            grid-template-columns: auto 1fr;
            grid-template-rows: repeat(2, max-content);
            
            img {
                width: 24px;
                height: 24px;
                grid-area: 1/1/3/1;
            }
        }
    }
    &__img1 {
        @include size(6);
        @include shift(0);
        @include size-xs(12);
        @include shift-xs(0);
        &-wrap {
            position: relative;
            padding-bottom: 100%;
            img {
                @include imgAbsolute;
            }
        }
    }
    &__img2 {
        @include size(6);
        @include shift(0);
        @include size-xs(6);
        @include shift-xs(0);
        @media screen and (max-width:767px){
            margin-right: 0;
            width: calc(50% - 30px);
        }
        &-wrap {
            position: relative;
            padding-bottom: 144%;
            @media screen and (max-width:767px){
                padding-bottom: 144%;
            }
            img {
                @include imgAbsolute;
            }
        }
    }
    &__img3 {
        @include size(6);
        @include shift(0);
        
        @include size-xs(6);
        @include shift-xs(0);
        @media screen and (max-width:767px){
            margin-left: 0;
            width: calc(50% - 30px);
        }
        &-wrap {
            position: relative;
            padding-bottom: 56%;
            @media screen and (max-width:767px){
                padding-bottom: 144%;
            }
            img {
                @include imgAbsolute;
            }
        }
    }
}