.popup-form-planning {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: var(--white);
    padding: pxInVh(100) pxWidthInVw(180);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.3s ease;
    @include to(767px){
        padding: 50px 16px;
    }
    &.active {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
    }
    &__title {
        margin-bottom: 21px;
    }
    &__content {
        overflow-y: auto;
        max-height: 100%;
        @include to(767px){
            max-width: 100%;
            overflow-x: hidden;
        }
    }
    &__form-wrap {
        background-color: #fff;;
        padding: 60px;
        @include to(767px){
            padding: 16px;
        }
    }
    &__form {
        @include row-flex;
        align-items: flex-start;
        &-top {
            @include size(12);
            @include shift(0);
            @include size-xs(12);
            @include shift-xs(0);
        }
        &-left {
            @include size(3);
            @include shift(0);
            @include size-xs(12);
            @include shift-xs(0);
            
        }
        &-right {
            @include size(9);
            @include shift(0);
            @include size-xs(12);
            @include shift-xs(0);

        }
    }
    &__close {
        position: absolute;
        right: pxWidthInVw(40);
        top: pxWidthInVw(40);
        cursor: pointer;
        @include to(767px){
            right: 16px;
            top: 16px;
            width: 24px;
            height: 24px;
        }
    }
    &__group {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        column-gap: 24px;
        row-gap: 20px;
        .select {
            margin-right: calc(100% - 240px);
        }
        &-title {
            width: 100%;
        }
    }
    &__group~&__group {
        margin-top: 32px;
    }
    &__bottom {
        display: flex;
        flex-direction: column;
        margin-top: pxInVh(55);
        @include from(768px){
            padding-right: pxWidthInVw(700);
        }
        &-title {
            margin-bottom: 24px;
        }
        [type="submit"] {
            margin-top: 12px;
            @include to(767px){
                font-size: 14px;
            }
        }
    }
    &__back-link {
        display: flex;
        align-items: center;
        color: var(--text, rgba(3, 60, 113, 0.80));
        font-family: "Fixel Variable";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 21px */
        cursor: pointer;
        svg {
            margin-right: 6px;
        }
    }
    .irs {
        @include to(767px){
            width: 90%;
            margin: auto;
        }
        @include from(768px){
            width: pxWidthInVw(637);
        }
    }
}


.irs--flat  {
    .irs-bar {
        background-color: var(--main);
    }
    .irs-single,
    .irs-to,
    .irs-from {
        background-color: transparent;
        color: var(--darkblue);
        font-size: 16px;
        font-family: $default-font;
        transform: translateY(-20%);
        @include to(767px){
            font-size: 14px;
        }
        &::before {
            display: none;
        }
    }

    .irs-from:before {
        content: 'Від'
    }

    .irs-max,
    .irs-min {
        display: none;
    }

    .irs-handle {
        border-radius: 50%;
        border: 4px solid var(--main);
        width: 18px;
        background-color: #fff;
        cursor: pointer;
        transform: scale(1.33);
        i {
            opacity: 0;
        }
    }
}

