.contacts(id="contacts")
  .container
    .contacts__content
      .contacts__text
        .contacts__title.d-fz-60.line-h-115.color-darkblue.mob-fz-32  Контакти
        a(href="tel:+380322295728").contacts__label.d-fz-18.line-h-140.color-darkblue.mob-fz-16
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
            <path d="M18.3082 15.8603C18.3082 16.1603 18.2415 16.4686 18.0998 16.7686C17.9582 17.0686 17.7748 17.352 17.5332 17.6186C17.1248 18.0686 16.6748 18.3936 16.1665 18.602C15.6665 18.8103 15.1248 18.9186 14.5415 18.9186C13.6915 18.9186 12.7832 18.7186 11.8248 18.3103C10.8665 17.902 9.90817 17.352 8.95817 16.6603C7.99984 15.9603 7.0915 15.1853 6.22484 14.327C5.3665 13.4603 4.5915 12.552 3.89984 11.602C3.2165 10.652 2.6665 9.70195 2.2665 8.76029C1.8665 7.81029 1.6665 6.90195 1.6665 6.03529C1.6665 5.46862 1.7665 4.92695 1.9665 4.42695C2.1665 3.91862 2.48317 3.45195 2.92484 3.03529C3.45817 2.51029 4.0415 2.25195 4.65817 2.25195C4.8915 2.25195 5.12484 2.30195 5.33317 2.40195C5.54984 2.50195 5.7415 2.65195 5.8915 2.86862L7.82484 5.59362C7.97484 5.80195 8.08317 5.99362 8.15817 6.17695C8.23317 6.35195 8.27484 6.52695 8.27484 6.68529C8.27484 6.88529 8.2165 7.08529 8.09984 7.27695C7.9915 7.46862 7.83317 7.66862 7.63317 7.86862L6.99984 8.52695C6.90817 8.61862 6.8665 8.72695 6.8665 8.86029C6.8665 8.92695 6.87484 8.98529 6.8915 9.05195C6.9165 9.11862 6.9415 9.16862 6.95817 9.21862C7.10817 9.49362 7.3665 9.85195 7.73317 10.2853C8.10817 10.7186 8.50817 11.1603 8.9415 11.602C9.3915 12.0436 9.82484 12.452 10.2665 12.827C10.6998 13.1936 11.0582 13.4436 11.3415 13.5936C11.3832 13.6103 11.4332 13.6353 11.4915 13.6603C11.5582 13.6853 11.6248 13.6936 11.6998 13.6936C11.8415 13.6936 11.9498 13.6436 12.0415 13.552L12.6748 12.927C12.8832 12.7186 13.0832 12.5603 13.2748 12.4603C13.4665 12.3436 13.6582 12.2853 13.8665 12.2853C14.0248 12.2853 14.1915 12.3186 14.3748 12.3936C14.5582 12.4686 14.7498 12.577 14.9582 12.7186L17.7165 14.677C17.9332 14.827 18.0832 15.002 18.1748 15.2103C18.2582 15.4186 18.3082 15.627 18.3082 15.8603Z" fill="#033C71"/>
          </svg>
          div +380 (32) 229 57 28
        a(target='_blank' href="https://www.google.com/maps/dir//%D0%B2%D1%83%D0%BB%D0%B8%D1%86%D1%8F+%D0%91%D0%BE%D0%B3%D0%B4%D0%B0%D0%BD%D0%B0+%D0%A5%D0%BC%D0%B5%D0%BB%D1%8C%D0%BD%D0%B8%D1%86%D1%8C%D0%BA%D0%BE%D0%B3%D0%BE,+116,+%D0%9B%D1%8C%D0%B2%D1%96%D0%B2,+%D0%9B%D1%8C%D0%B2%D1%96%D0%B2%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+79000/@49.8528917,24.041234,1414m/data=!3m1!1e3!4m9!4m8!1m0!1m5!1m1!1s0x473add1a66755719:0x3f83dcf0752a2198!2m2!1d24.0444175!2d49.8540894!3e0?entry=ttu&g_ep=EgoyMDI1MDUwNS4wIKXMDSoASAFQAw%3D%3D").contacts__label.d-fz-18.line-h-140.color-darkblue.mob-fz-16
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
            <path d="M17.1834 7.12825C16.3084 3.27825 12.9501 1.54492 10.0001 1.54492C10.0001 1.54492 10.0001 1.54492 9.99175 1.54492C7.05008 1.54492 3.68341 3.26992 2.80841 7.11992C1.83341 11.4199 4.46675 15.0616 6.85008 17.3533C7.73341 18.2033 8.86675 18.6283 10.0001 18.6283C11.1334 18.6283 12.2667 18.2033 13.1417 17.3533C15.5251 15.0616 18.1584 11.4283 17.1834 7.12825ZM10.0001 11.3033C8.55008 11.3033 7.37508 10.1283 7.37508 8.67825C7.37508 7.22826 8.55008 6.05325 10.0001 6.05325C11.4501 6.05325 12.6251 7.22826 12.6251 8.67825C12.6251 10.1283 11.4501 11.3033 10.0001 11.3033Z" fill="#033C71"/>
          </svg>
          div Адреса відділу продажів вул. Богдана Хмельницького, 116
        .contacts__label.d-fz-18.line-h-140.color-darkblue.mob-fz-16
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
            <path d="M9.99984 1.83789C5.40817 1.83789 1.6665 5.57956 1.6665 10.1712C1.6665 14.7629 5.40817 18.5046 9.99984 18.5046C14.5915 18.5046 18.3332 14.7629 18.3332 10.1712C18.3332 5.57956 14.5915 1.83789 9.99984 1.83789ZM13.6248 13.1462C13.5082 13.3462 13.2998 13.4546 13.0832 13.4546C12.9748 13.4546 12.8665 13.4296 12.7665 13.3629L10.1832 11.8212C9.5415 11.4379 9.0665 10.5962 9.0665 9.85456V6.43789C9.0665 6.09622 9.34984 5.81289 9.6915 5.81289C10.0332 5.81289 10.3165 6.09622 10.3165 6.43789V9.85456C10.3165 10.1546 10.5665 10.5962 10.8248 10.7462L13.4082 12.2879C13.7082 12.4629 13.8082 12.8462 13.6248 13.1462Z" fill="#033C71"/>
          </svg>
          div Пн-Пт: 09:00-19:00 <br> Сб: 10:00-17:00
        .contacts__subtitle.d-fz-20.line-h-140.color-darkblue.mob-fz-16 Отримайте консультацію у відділі продажів
        button(type="button" data-callback-popup-open).button2.button2--blue.button2--smaller
          span забронювати консультацію
      .contacts__img
        .contacts__img-wrap
          .contacts__img-title.d-fz-30.color-white.f-italic.mob-fz-21 Розташування
          img(src="./assets/images/contacts/map.jpg", alt="")