.news(id="news")
  .container
    .news__content
      .news__title.d-fz-50.color-darkblue.text-uppercase.mob-fz-32 Акції та новини
      a(href="https://riel.ua/news/klubnii-budinok-hyde-park-v-sekciyi-a-1-1-trivaye-montazh-vikonnikh-konstrukcii" target="_blank").news-card1.color-fff.news-link
        .d-fz-28.line-h-115.mob-fz-24.mob-line-h-140 Клубний будинок Hyde Park: в секції А-1.1 триває монтаж віконних конструкцій
        .d-fz-16.line-h-145.mob-fz-14.mob-line-h-140 Паралельно продовжується монтаж черепиці на даху та завершено оздоблення вентиляційних коминів.
      a(href="https://riel.ua/news/klubnii-budinok-hyde-park-v-sekciyi-a-1-1-zaversheno-ceglyanu-kladku-stin" target="_blank").news-card2.d-fz-42.line-h-115.color-fff.mob-fz-24.mob-line-h-140.news-link
        img(src="./assets/images/news/news-card2.jpg", alt="" loading="lazy").news-card2__bg
        .news-card2__text Клубний будинок Hyde Park: в секції А-1.1 завершено цегляну кладку стін
      button(type="button" data-news-reveal-mobile).button2.show-on-mobile
        span Показати більше
        <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.88012 5.20703L6.68345 9.01037C7.13262 9.45953 7.86762 9.45953 8.31678 9.01037L12.1201 5.20703" stroke="#033C71" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

        
      a(href="https://riel.ua/news/klubnii-budinok-hyde-park-v-sekciyi-a-1-1-trivaye-vlashtuvannya-shatrovikh-dakhiv" target="_blank").news-card3.color-fff(data-news-hidden-on-mobile).news-link
        .d-fz-23.line-h-115.mob-fz-24.mob-line-h-14 Клубний будинок Hyde Park: в секції А-1.1 триває влаштування шатрових дахів
        .d-fz-42.line-h-115.mob-fz-24.mob-line-h-14 
      a(href="https://riel.ua/news/klubnii-budinok-hyde-park-v-sekciyi-a-1-1-trivaye-muruvannya-stin" target="_blank").news-card4.d-fz-42.line-h-115.color-darkblue.mob-fz-24.mob-line-h-14(data-news-hidden-on-mobile).news-link
        | Клубний будинок Hyde Park: в секції А-1.1 триває мурування стін
      .news__image1
        .news__image1-wrap
          img(src="./assets/images/news/terms-payment-image.jpg", alt="" loading="lazy")
      .news__terms-payment.color-darkblue
        div.d-fz-50.text-uppercase.news__terms-payment-title.mob-fz-32 Умови оплати
        ul.line-h-90.d-fz-26.mob-fz-16.mob-line-h-140
          li Початковий внесок від 10% вартості
          li Решта суми прив’язка до курсу долара США
          li Розтермінування до 12 місяців
      .news__other-promotions.color-darkblue
        .news__other-promotions-title.d-fz-50.text-uppercase.mob-fz-32 ДОДАТКОВІ ЗНИЖКИ
        .news__other-promotions-subtitle.default-font2.d-fz-24.line-h-120.mob-fz-16 Знижки діють для Військовослужбовців (усі задіяні структури) та їхніх сімей, Медпрацівників та їхніх сімей, Переселенців із зони бойових дій
        ul 
          li
            .d-fz-24.line-h-95.mob-fz-18 Умова
            .default-font2.color-text07 Знижка надається за будь-якого першого внеску
          li
            .d-fz-24.line-h-95.mob-fz-18 Військовослужбовці
            .default-font2.color-text07 Якщо перебувають у зоні бойових дій — знижка 5%
            .default-font2.color-text07 Якщо не перебувають у зоні бойових дій — знижка 3%
          li
            .d-fz-24.line-h-95.mob-fz-18 Медпрацівники
            .default-font2.color-text07 Якщо перебувають у зоні бойових дій — знижка 5%
            .default-font2.color-text07 Якщо не перебувають у зоні бойових дій — знижка 3%
          li
            .d-fz-24.line-h-95.mob-fz-18 Переселенці із зони бойових дій
            .default-font2.color-text07 — Знижка 5%
      .news__image2
        button(type="button" data-popup-form-planning-open).button
          span ОТРИМАТИ ПЕРСОНАЛЬНИЙ ПРОРАХУНОК
        .news__image2-wrap
          img(src="./assets/images/news/image2.jpg", alt="" loading="lazy")