.footer
  .footer__bg
    img(src="./assets/images/footer/bg.png", alt="")
  .container
    .footer__content
      .footer__group-info
        img(src="./assets/images/footer/top-logo.png", alt="", srcset="" loading="lazy")
        a(href="https://www.google.com/maps/dir/50.46272,30.3366144/%D0%B2%D1%83%D0%BB%D0%B8%D1%86%D1%8F+%D0%9C%D1%83%D1%87%D0%BD%D0%B0,+32,+%D0%9B%D1%8C%D0%B2%D1%96%D0%B2,+%D0%9B%D1%8C%D0%B2%D1%96%D0%B2%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+79000/@49.8394117,24.061173,689m/data=!3m1!1e3!4m9!4m8!1m1!4e1!1m5!1m1!1s0x473add37f22a7253:0x2b85e9a777d98abc!2m2!1d24.0613215!2d49.8395238?entry=ttu&g_ep=EgoyMDI1MDUwNS4wIKXMDSoJLDEwMjExNDUzSAFQAw%3D%3D", target="_blank", rel="noopener noreferrer").footer__link-icon.color-darkblue.line-h-140 
          <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.1834 7.67122C16.3084 3.82122 12.9501 2.08789 10.0001 2.08789C10.0001 2.08789 10.0001 2.08789 9.99175 2.08789C7.05008 2.08789 3.68341 3.81289 2.80841 7.66289C1.83341 11.9629 4.46675 15.6046 6.85008 17.8962C7.73341 18.7462 8.86675 19.1712 10.0001 19.1712C11.1334 19.1712 12.2667 18.7462 13.1417 17.8962C15.5251 15.6046 18.1584 11.9712 17.1834 7.67122ZM10.0001 11.8462C8.55008 11.8462 7.37508 10.6712 7.37508 9.22122C7.37508 7.77122 8.55008 6.59622 10.0001 6.59622C11.4501 6.59622 12.6251 7.77122 12.6251 9.22122C12.6251 10.6712 11.4501 11.8462 10.0001 11.8462Z" fill="#033C71"/>
          </svg>
          div
            span.d-fz-21.mob-fz-18 м. Львів, вул. Мучна 32 <br>
            span.d-fz-18.mob-fz-16 (Личаківський район)
        a(href="tel:+380322295728", class="footer__link-icon color-darkblue line-h-140 d-fz-21 mob-fz-18") 
          <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.3082 15.4033C18.3082 15.7033 18.2415 16.0116 18.0998 16.3116C17.9582 16.6116 17.7748 16.8949 17.5332 17.1616C17.1248 17.6116 16.6748 17.9366 16.1665 18.1449C15.6665 18.3533 15.1248 18.4616 14.5415 18.4616C13.6915 18.4616 12.7832 18.2616 11.8248 17.8533C10.8665 17.4449 9.90817 16.8949 8.95817 16.2033C7.99984 15.5033 7.0915 14.7283 6.22484 13.8699C5.3665 13.0033 4.5915 12.0949 3.89984 11.1449C3.2165 10.1949 2.6665 9.24492 2.2665 8.30326C1.8665 7.35326 1.6665 6.44492 1.6665 5.57826C1.6665 5.01159 1.7665 4.46992 1.9665 3.96992C2.1665 3.46159 2.48317 2.99492 2.92484 2.57826C3.45817 2.05326 4.0415 1.79492 4.65817 1.79492C4.8915 1.79492 5.12484 1.84492 5.33317 1.94492C5.54984 2.04492 5.7415 2.19492 5.8915 2.41159L7.82484 5.13659C7.97484 5.34492 8.08317 5.53659 8.15817 5.71992C8.23317 5.89492 8.27484 6.06992 8.27484 6.22826C8.27484 6.42826 8.2165 6.62826 8.09984 6.81992C7.9915 7.01159 7.83317 7.21159 7.63317 7.41159L6.99984 8.06992C6.90817 8.16159 6.8665 8.26992 6.8665 8.40326C6.8665 8.46992 6.87484 8.52826 6.8915 8.59492C6.9165 8.66159 6.9415 8.71159 6.95817 8.76159C7.10817 9.03659 7.3665 9.39492 7.73317 9.82826C8.10817 10.2616 8.50817 10.7033 8.9415 11.1449C9.3915 11.5866 9.82484 11.9949 10.2665 12.3699C10.6998 12.7366 11.0582 12.9866 11.3415 13.1366C11.3832 13.1533 11.4332 13.1783 11.4915 13.2033C11.5582 13.2283 11.6248 13.2366 11.6998 13.2366C11.8415 13.2366 11.9498 13.1866 12.0415 13.0949L12.6748 12.4699C12.8832 12.2616 13.0832 12.1033 13.2748 12.0033C13.4665 11.8866 13.6582 11.8283 13.8665 11.8283C14.0248 11.8283 14.1915 11.8616 14.3748 11.9366C14.5582 12.0116 14.7498 12.1199 14.9582 12.2616L17.7165 14.2199C17.9332 14.3699 18.0832 14.5449 18.1748 14.7533C18.2582 14.9616 18.3082 15.1699 18.3082 15.4033Z" fill="#FF7F42"/>
          </svg>
          span +380 (32) 229 57 28
        .link-underline.d-fz-21.mob-fz-18 Замовити дзвінок
      .footer__group-links
        a(href="#").d-fz-18.color-darkblue.mob-fz-16 Помешкання
        a(href="#").d-fz-18.color-darkblue.mob-fz-16 Про Проєкт
        a(href="#").d-fz-18.color-darkblue.mob-fz-16 Переваги
        a(href="#").d-fz-18.color-darkblue.mob-fz-16 Характеристики
        a(href="#").d-fz-18.color-darkblue.mob-fz-16 Хід будівництва
      .footer__group-links
        a(href="#").d-fz-18.color-darkblue.mob-fz-16 Паркінг
        a(href="#").d-fz-18.color-darkblue.mob-fz-16 Галерея
        a(href="#").d-fz-18.color-darkblue.mob-fz-16 Акції та новини
        a(href="#").d-fz-18.color-darkblue.mob-fz-16 Документи
        a(href="#").d-fz-18.color-darkblue.mob-fz-16 Про забудовника
      .social-list
        a(href="http://facebook.com", target="_blank", rel="noopener noreferrer").social-icon
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
            <g clip-path="url(#clip0_59_983)">
              <path d="M15.7442 4.61294H18.0002V0.796942C16.9079 0.683359 15.8104 0.627281 14.7122 0.628942C11.4482 0.628942 9.21622 2.62094 9.21622 6.26893V9.41293H5.53223V13.6849H9.21622V24.6289H13.6322V13.6849H17.3042L17.8562 9.41293H13.6322V6.68893C13.6322 5.42894 13.9682 4.61294 15.7442 4.61294Z" fill="#033C71"/>
            </g>
            <defs>
              <clipPath id="clip0_59_983">
                <rect width="24" height="24" fill="white" transform="translate(0 0.628906)"/>
              </clipPath>
            </defs>
          </svg>
        a(href="http://instagram.com", target="_blank", rel="noopener noreferrer").social-icon
          <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 0.628906C8.74101 0.628906 8.33234 0.642732 7.0524 0.701108C5.77514 0.759376 4.90283 0.962261 4.13952 1.25885C3.35041 1.56552 2.6812 1.97587 2.0141 2.64297C1.34696 3.31007 0.936617 3.97936 0.629984 4.76846C0.333319 5.53174 0.130505 6.40405 0.0721656 7.68131C0.0137901 8.96125 0 9.36991 0 12.6289C0 15.8879 0.0137901 16.2966 0.0721656 17.5765C0.130505 18.8538 0.333319 19.7261 0.629984 20.4893C0.936653 21.2785 1.347 21.9477 2.0141 22.6148C2.68124 23.2819 3.35041 23.6923 4.13952 23.999C4.90283 24.2956 5.77514 24.4984 7.0524 24.5567C8.33234 24.6151 8.74101 24.6289 12 24.6289C15.259 24.6289 15.6677 24.6151 16.9476 24.5567C18.2249 24.4984 19.0972 24.2956 19.8604 23.999C20.6495 23.6923 21.3188 23.2819 21.9859 22.6148C22.653 21.9477 23.0634 21.2785 23.3701 20.4893C23.6666 19.7261 23.8695 18.8538 23.9278 17.5765C23.9862 16.2966 24 15.8879 24 12.6289C24 9.36991 23.9862 8.96125 23.9278 7.68131C23.8695 6.40405 23.6666 5.53174 23.3701 4.76846C23.0634 3.97936 22.653 3.31007 21.9859 2.64297C21.3188 1.97587 20.6495 1.56552 19.8604 1.25885C19.0972 0.962261 18.2249 0.759376 16.9476 0.701108C15.6677 0.642732 15.259 0.628906 12 0.628906ZM12 2.79105C15.2041 2.79105 15.5837 2.80331 16.849 2.86104C18.019 2.91438 18.6544 3.10987 19.0772 3.2742C19.6374 3.49192 20.0371 3.75193 20.457 4.17185C20.877 4.59176 21.137 4.99153 21.3547 5.55164C21.519 5.97449 21.7145 6.6099 21.7679 7.77988C21.8256 9.04524 21.8379 9.42479 21.8379 12.6289C21.8379 15.833 21.8256 16.2126 21.7679 17.4779C21.7145 18.6479 21.519 19.2833 21.3547 19.7061C21.137 20.2663 20.877 20.666 20.457 21.0859C20.0371 21.5059 19.6374 21.7659 19.0773 21.9836C18.6544 22.1479 18.019 22.3434 16.849 22.3968C15.5839 22.4545 15.2044 22.4668 12 22.4668C8.79563 22.4668 8.41619 22.4545 7.15097 22.3967C5.98096 22.3434 5.34558 22.1479 4.92277 21.9836C4.36259 21.7659 3.96286 21.5059 3.54297 21.0859C3.12306 20.666 2.86301 20.2663 2.6453 19.7062C2.48096 19.2833 2.28551 18.6479 2.23213 17.4779C2.1744 16.2126 2.16215 15.833 2.16215 12.6289C2.16215 9.42479 2.1744 9.04524 2.23213 7.77988C2.28551 6.60986 2.48096 5.97449 2.6453 5.55167C2.86301 4.9915 3.12306 4.59176 3.54294 4.17188C3.96286 3.75193 4.36263 3.49192 4.92273 3.2742C5.34558 3.10987 5.98099 2.91438 7.15097 2.86104C8.41633 2.80331 8.79588 2.79105 12 2.79105" fill="#033C71"/>
            <path d="M12.0001 16.6289C9.79089 16.6289 8.00004 14.838 8.00004 12.6289C8.00004 10.4197 9.79089 8.62884 12.0001 8.62884C14.2092 8.62884 16.0001 10.4197 16.0001 12.6289C16.0001 14.838 14.2092 16.6289 12.0001 16.6289ZM12.0001 6.4667C8.59676 6.4667 5.83789 9.22557 5.83789 12.6289C5.83789 16.0321 8.59676 18.791 12.0001 18.791C15.4033 18.791 18.1622 16.0321 18.1622 12.6289C18.1622 9.22557 15.4033 6.4667 12.0001 6.4667ZM19.8457 6.22323C19.8457 7.01855 19.201 7.66322 18.4057 7.66322C17.6104 7.66322 16.9657 7.01855 16.9657 6.22323C16.9657 5.42794 17.6104 4.7832 18.4057 4.7832C19.201 4.7832 19.8457 5.42794 19.8457 6.22323Z" fill="#033C71"/>
          </svg>
        a(href="http://t.me", target="_blank", rel="noopener noreferrer").social-icon
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.63327 11.3778C8.46368 8.83757 12.3515 7.16291 14.2968 6.35379C19.851 4.0436 21.0052 3.6423 21.7574 3.62905C21.9228 3.62613 22.2928 3.66714 22.5324 3.86157C22.7347 4.02575 22.7904 4.24754 22.817 4.4032C22.8437 4.55886 22.8769 4.91346 22.8505 5.19053C22.5495 8.35301 21.2471 16.0275 20.5846 19.5695C20.3042 21.0683 19.7522 21.5708 19.2178 21.62C18.0563 21.7269 17.1744 20.8524 16.0495 20.115C14.2892 18.9612 13.2948 18.2429 11.5861 17.1169C9.61152 15.8157 10.8916 15.1005 12.0169 13.9316C12.3114 13.6258 17.4287 8.97117 17.5278 8.54892C17.5402 8.49611 17.5517 8.29927 17.4347 8.19532C17.3178 8.09138 17.1452 8.12693 17.0206 8.15519C16.8441 8.19526 14.032 10.0539 8.58452 13.7312C7.78633 14.2793 7.06336 14.5463 6.4156 14.5323C5.7015 14.5169 4.32785 14.1285 3.30668 13.7966C2.05418 13.3895 1.05872 13.1742 1.1454 12.4828C1.19055 12.1226 1.68651 11.7543 2.63327 11.3778Z" fill="#033C71"/>
          </svg>
        a(href="http://youtube.com", target="_blank", rel="noopener noreferrer").social-icon
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
            <path d="M23 10.3384C23.0495 8.90706 22.7365 7.48642 22.09 6.2084C21.6514 5.684 21.0427 5.33011 20.37 5.2084C17.5875 4.95593 14.7936 4.85245 12 4.8984C9.21667 4.85036 6.43274 4.9505 3.66003 5.1984C3.11185 5.29812 2.60454 5.55524 2.20003 5.9384C1.30003 6.7684 1.20003 8.1884 1.10003 9.3884C0.954939 11.546 0.954939 13.7108 1.10003 15.8684C1.12896 16.5438 1.22952 17.2142 1.40003 17.8684C1.5206 18.3735 1.76455 18.8407 2.11003 19.2284C2.51729 19.6319 3.03641 19.9036 3.60003 20.0084C5.75594 20.2745 7.92824 20.3848 10.1 20.3384C13.6 20.3884 16.67 20.3384 20.3 20.0584C20.8775 19.96 21.4112 19.6879 21.83 19.2784C22.11 18.9983 22.3191 18.6555 22.44 18.2784C22.7977 17.181 22.9733 16.0325 22.96 14.8784C23 14.3184 23 10.9384 23 10.3384ZM9.74003 15.4784V9.2884L15.66 12.3984C14 13.3184 11.81 14.3584 9.74003 15.4784Z" fill="#033C71"/>
          </svg>
        a(href="http://linkedin.com", target="_blank", rel="noopener noreferrer").social-icon
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
            <path d="M20.4701 2.62905H3.53006C3.33964 2.6264 3.15056 2.66129 2.97362 2.73173C2.79669 2.80217 2.63536 2.90677 2.49886 3.03956C2.36235 3.17235 2.25334 3.33073 2.17805 3.50566C2.10276 3.68058 2.06267 3.86862 2.06006 4.05905V21.199C2.06267 21.3895 2.10276 21.5775 2.17805 21.7524C2.25334 21.9274 2.36235 22.0857 2.49886 22.2185C2.63536 22.3513 2.79669 22.4559 2.97362 22.5264C3.15056 22.5968 3.33964 22.6317 3.53006 22.629H20.4701C20.6605 22.6317 20.8496 22.5968 21.0265 22.5264C21.2034 22.4559 21.3648 22.3513 21.5013 22.2185C21.6378 22.0857 21.7468 21.9274 21.8221 21.7524C21.8974 21.5775 21.9375 21.3895 21.9401 21.199V4.05905C21.9375 3.86862 21.8974 3.68058 21.8221 3.50566C21.7468 3.33073 21.6378 3.17235 21.5013 3.03956C21.3648 2.90677 21.2034 2.80217 21.0265 2.73173C20.8496 2.66129 20.6605 2.6264 20.4701 2.62905ZM8.09006 19.369H5.09006V10.369H8.09006V19.369ZM6.59006 9.10905C6.17632 9.10905 5.77953 8.94469 5.48697 8.65213C5.19442 8.35958 5.03006 7.96278 5.03006 7.54905C5.03006 7.13531 5.19442 6.73852 5.48697 6.44596C5.77953 6.1534 6.17632 5.98905 6.59006 5.98905C6.80975 5.96413 7.03224 5.9859 7.24293 6.05293C7.45363 6.11996 7.6478 6.23074 7.81272 6.37801C7.97763 6.52528 8.10958 6.70572 8.19993 6.90753C8.29028 7.10933 8.33698 7.32794 8.33698 7.54905C8.33698 7.77015 8.29028 7.98876 8.19993 8.19056C8.10958 8.39237 7.97763 8.57281 7.81272 8.72008C7.6478 8.86736 7.45363 8.97813 7.24293 9.04516C7.03224 9.11219 6.80975 9.13396 6.59006 9.10905ZM18.9101 19.369H15.9101V14.539C15.9101 13.329 15.4801 12.539 14.3901 12.539C14.0527 12.5415 13.7242 12.6473 13.4489 12.8422C13.1735 13.0371 12.9645 13.3117 12.8501 13.629C12.7718 13.8641 12.7379 14.1116 12.7501 14.359V19.359H9.75006C9.75006 19.359 9.75006 11.179 9.75006 10.359H12.7501V11.629C13.0226 11.1562 13.419 10.7666 13.8965 10.5022C14.374 10.2379 14.9146 10.1089 15.4601 10.129C17.4601 10.129 18.9101 11.419 18.9101 14.189V19.369Z" fill="#033C71"/>
          </svg>
      img(src="./assets/images/footer/hydepark_logo-03.png", alt="", srcset="" loading="lazy").footer__bottom-logo
      .footer__bottom-list.default-font2.line-h-150.d-fz-14
        a(target='_blank' href="#").color-text © 2025 HYDE PARK. all rights reserved
        a(target='_blank' href="#").color-text Угода користувача
        a(target='_blank' href="#").color-text Політика обробки персональних даних
        a(target='_blank' href="#").color-text Угода користувача