header(class="header "+header_class)
  .header__bg
  .container
    .header__top
      .header__top-left
        a(href="https://www.google.com/maps/dir/50.46272,30.3366144/%D0%B2%D1%83%D0%BB%D0%B8%D1%86%D1%8F+%D0%9C%D1%83%D1%87%D0%BD%D0%B0,+32,+%D0%9B%D1%8C%D0%B2%D1%96%D0%B2,+%D0%9B%D1%8C%D0%B2%D1%96%D0%B2%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+79000/@49.8394117,24.061173,689m/data=!3m1!1e3!4m9!4m8!1m1!4e1!1m5!1m1!1s0x473add37f22a7253:0x2b85e9a777d98abc!2m2!1d24.0613215!2d49.8395238?entry=ttu&g_ep=EgoyMDI1MDUwNS4wIKXMDSoJLDEwMjExNDUzSAFQAw%3D%3D", target="_blank", rel="noopener noreferrer").header__link-icon.line-h-140 
          <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.1834 7.67122C16.3084 3.82122 12.9501 2.08789 10.0001 2.08789C10.0001 2.08789 10.0001 2.08789 9.99175 2.08789C7.05008 2.08789 3.68341 3.81289 2.80841 7.66289C1.83341 11.9629 4.46675 15.6046 6.85008 17.8962C7.73341 18.7462 8.86675 19.1712 10.0001 19.1712C11.1334 19.1712 12.2667 18.7462 13.1417 17.8962C15.5251 15.6046 18.1584 11.9712 17.1834 7.67122ZM10.0001 11.8462C8.55008 11.8462 7.37508 10.6712 7.37508 9.22122C7.37508 7.77122 8.55008 6.59622 10.0001 6.59622C11.4501 6.59622 12.6251 7.77122 12.6251 9.22122C12.6251 10.6712 11.4501 11.8462 10.0001 11.8462Z" fill="#033C71"/>
          </svg>
          div
            span.d-fz-18 м. Львів, вул. Мучна 32&nbsp;
            span.d-fz-16 (Личаківський район)
      a(href="/").header__logo
        .header__logo-wrap
          img(src="./assets/images/header/logo-white.png", alt="", srcset="").header__logo-for-top
          img(src="./assets/images/header/logo-dark.png", alt="", srcset="").header__logo-for-bottom
      .header__top-right
        a(href="tel:+380322295728", class="header__link-icon header__link-icon--orange line-h-140 d-fz-18") 
          <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.3082 15.4033C18.3082 15.7033 18.2415 16.0116 18.0998 16.3116C17.9582 16.6116 17.7748 16.8949 17.5332 17.1616C17.1248 17.6116 16.6748 17.9366 16.1665 18.1449C15.6665 18.3533 15.1248 18.4616 14.5415 18.4616C13.6915 18.4616 12.7832 18.2616 11.8248 17.8533C10.8665 17.4449 9.90817 16.8949 8.95817 16.2033C7.99984 15.5033 7.0915 14.7283 6.22484 13.8699C5.3665 13.0033 4.5915 12.0949 3.89984 11.1449C3.2165 10.1949 2.6665 9.24492 2.2665 8.30326C1.8665 7.35326 1.6665 6.44492 1.6665 5.57826C1.6665 5.01159 1.7665 4.46992 1.9665 3.96992C2.1665 3.46159 2.48317 2.99492 2.92484 2.57826C3.45817 2.05326 4.0415 1.79492 4.65817 1.79492C4.8915 1.79492 5.12484 1.84492 5.33317 1.94492C5.54984 2.04492 5.7415 2.19492 5.8915 2.41159L7.82484 5.13659C7.97484 5.34492 8.08317 5.53659 8.15817 5.71992C8.23317 5.89492 8.27484 6.06992 8.27484 6.22826C8.27484 6.42826 8.2165 6.62826 8.09984 6.81992C7.9915 7.01159 7.83317 7.21159 7.63317 7.41159L6.99984 8.06992C6.90817 8.16159 6.8665 8.26992 6.8665 8.40326C6.8665 8.46992 6.87484 8.52826 6.8915 8.59492C6.9165 8.66159 6.9415 8.71159 6.95817 8.76159C7.10817 9.03659 7.3665 9.39492 7.73317 9.82826C8.10817 10.2616 8.50817 10.7033 8.9415 11.1449C9.3915 11.5866 9.82484 11.9949 10.2665 12.3699C10.6998 12.7366 11.0582 12.9866 11.3415 13.1366C11.3832 13.1533 11.4332 13.1783 11.4915 13.2033C11.5582 13.2283 11.6248 13.2366 11.6998 13.2366C11.8415 13.2366 11.9498 13.1866 12.0415 13.0949L12.6748 12.4699C12.8832 12.2616 13.0832 12.1033 13.2748 12.0033C13.4665 11.8866 13.6582 11.8283 13.8665 11.8283C14.0248 11.8283 14.1915 11.8616 14.3748 11.9366C14.5582 12.0116 14.7498 12.1199 14.9582 12.2616L17.7165 14.2199C17.9332 14.3699 18.0832 14.5449 18.1748 14.7533C18.2582 14.9616 18.3082 15.1699 18.3082 15.4033Z" fill="#FF7F42"/>
          </svg>
          span +380 (32) 229 57 28
        .link-underline.d-fz-18(data-callback-popup-open) Замовити дзвінок
    .header__links
      a(href="#plannings").header__link Помешкання
      a(href="#about").header__link Про Проєкт
      a(href="#advantage").header__link Переваги
      a(href="#characteristics").header__link Характеристики
      a(href="#construction").header__link Хід будівництва
      a(href="#wellness").header__link Wellness
      a(href="#gallery").header__link Галерея
      a(href="#news").header__link Акції та новини
      a(href="#documents").header__link Документи
      a(href="#developer").header__link Про забудовника

include ./header-mobile.pug
    
.mobile-callback-popup(data-mobile-callback-popup) 
    a.mobile-callback-popup__tel.binct-phone-number-1(href="tel:+380443563777") Виклик +380 (44) 356 37 77
    .mobile-callback-popup__callback(data-callback-popup-open data-mobile-callback-close) Замовити зворотній дзвінок
    .mobile-callback-popup__close(data-mobile-callback-close) Скасувати