nav.menu(data-lenis-prevent data-menu)
    button(type="button" data-menu-close).menu__close
        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
            <path d="M10.0205 0.979512C9.8252 0.784408 9.50865 0.784295 9.31344 0.979512L5.19919 5.09377L1.08493 0.979512L1.0068 0.915059C0.812729 0.786898 0.548762 0.808657 0.377897 0.979512C0.207089 1.15038 0.185294 1.41436 0.313444 1.60842L0.377897 1.68654L4.49216 5.8008L0.377897 9.91604C0.182765 10.1113 0.182671 10.4279 0.377897 10.6231C0.573123 10.8182 0.889688 10.8182 1.08493 10.6231L5.19919 6.50783L9.31344 10.6231L9.39255 10.6865C9.5865 10.8146 9.84963 10.7936 10.0205 10.6231C10.1914 10.4522 10.2131 10.1882 10.0849 9.99416L10.0205 9.91604L5.90524 5.8008L10.0205 1.68654C10.2157 1.49128 10.2157 1.17477 10.0205 0.979512Z" fill="#394049"/>
        </svg>

    .menu__bg
    .menu__content
        .menu__links
            ul.menu__list
                .menu__title Локації
                a(href="#sport-zone" data-title="Спортивна зона" data-menu-close).menu__link 
                    span Спортивна зона
                a(href="#spa-zone" data-title="спа зона" data-menu-close).menu__link 
                    span спа зона
                a(href="#cafe-zone" data-title="кафе та коворкінг" data-menu-close).menu__link 
                    span кафе та коворкінг
                a(href="#roof" data-title="Експлуатований дах" data-menu-close).menu__link 
                    span Експлуатований дах
                a(href="#library" data-title="бібліотека" data-menu-close).menu__link 
                    span бібліотека
                a(href="#kids-zone" data-title="Дитячий простір" data-menu-close).menu__link 
                    span Дитячий простір
            a(href="#tech-info" data-title="Технічні Характеристики" data-menu-close).menu__link 
                span Технічні Характеристики
            a(href="#contact-screen" data-title="Контакти" data-menu-close).menu__link 
                span Контакти
        .menu__group.mt-mobile
            div Телефон
            a(href="tel:0 800 331 947").binct-phone-number-1.menu__tel 0 800 331 947
        .menu__group.hide-on-mobile
            div Центр продажу
            a(href="https://maps.app.goo.gl/VWbYXtreYqkGLC3e8" target='_blank').menu__small-link м. Львів, пр. В.Чорновола, 18
            div Пн-Пт 10:00 - 19:00
        .menu__group
            button(type="button"  data-callback-popup-call data-menu-close).button-main.button-main--dark  
                span ОТРИМАТИ КОНСУЛЬТАЦІЮ
        .menu__group.social-list.hide-on-mobile
            a.social-link(target='_blank' href="https://www.instagram.com/lifestyle_avalon/")
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.00269 0.667969C9.91355 0.667969 10.1589 0.675856 10.9187 0.711914C11.6947 0.746189 12.238 0.872979 12.7185 1.05859C13.2245 1.24923 13.6851 1.54979 14.0662 1.93555L13.8562 2.15039L14.0701 1.93945C14.4598 2.32127 14.7577 2.77938 14.9509 3.29004C15.1369 3.76865 15.2634 4.31497 15.2976 5.09082C15.3309 5.84832 15.3337 6.09382 15.3337 8.00293C15.3337 9.91343 15.325 10.1578 15.2917 10.9141C15.2575 11.691 15.1309 12.2349 14.9451 12.7158C14.549 13.74 13.739 14.5502 12.7146 14.9463C12.2358 15.1325 11.6892 15.2587 10.9128 15.293C10.156 15.3263 9.91109 15.335 7.99976 15.335C6.08877 15.335 5.84428 15.3263 5.08765 15.293C4.31121 15.2587 3.76762 15.1319 3.28687 14.9463C2.84341 14.7792 2.43452 14.5282 2.08374 14.209L1.93823 14.0693L2.15015 13.8545L1.9353 14.0654C1.54942 13.6846 1.24904 13.2265 1.05542 12.7148C0.869486 12.2363 0.742952 11.6899 0.70874 10.9141C0.675516 10.1578 0.666749 9.9134 0.666748 8.00293C0.666748 6.09266 0.674641 5.84729 0.710693 5.08789C0.744954 4.31198 0.871756 3.76864 1.05737 3.28809C1.2246 2.84462 1.47627 2.43581 1.79565 2.08496L1.93433 1.94043L2.15015 2.15039L1.93823 1.93555C2.32004 1.54611 2.7791 1.24881 3.28979 1.05566C3.76827 0.869912 4.3147 0.743187 5.09058 0.708984C5.84726 0.675752 6.09148 0.667969 8.00269 0.667969ZM7.99976 4.52734C6.08223 4.52758 4.52612 6.08329 4.52612 8.00098C4.52622 9.91858 6.08229 11.4744 7.99976 11.4746C9.91753 11.4746 11.4743 9.91873 11.4744 8.00098C11.4744 6.08314 9.91759 4.52734 7.99976 4.52734ZM12.2458 2.21094C11.3933 2.21094 10.7019 2.90211 10.7019 3.75488C10.702 4.60744 11.3933 5.29883 12.2458 5.29883C13.0985 5.29881 13.7897 4.60746 13.7898 3.75488C13.7898 2.90209 13.0985 2.21096 12.2458 2.21094Z" fill="#394049"/>
                </svg>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.00269 0.667969C9.91355 0.667969 10.1589 0.675856 10.9187 0.711914C11.6947 0.746189 12.238 0.872979 12.7185 1.05859C13.2245 1.24923 13.6851 1.54979 14.0662 1.93555L13.8562 2.15039L14.0701 1.93945C14.4598 2.32127 14.7577 2.77938 14.9509 3.29004C15.1369 3.76865 15.2634 4.31497 15.2976 5.09082C15.3309 5.84832 15.3337 6.09382 15.3337 8.00293C15.3337 9.91343 15.325 10.1578 15.2917 10.9141C15.2575 11.691 15.1309 12.2349 14.9451 12.7158C14.549 13.74 13.739 14.5502 12.7146 14.9463C12.2358 15.1325 11.6892 15.2587 10.9128 15.293C10.156 15.3263 9.91109 15.335 7.99976 15.335C6.08877 15.335 5.84428 15.3263 5.08765 15.293C4.31121 15.2587 3.76762 15.1319 3.28687 14.9463C2.84341 14.7792 2.43452 14.5282 2.08374 14.209L1.93823 14.0693L2.15015 13.8545L1.9353 14.0654C1.54942 13.6846 1.24904 13.2265 1.05542 12.7148C0.869486 12.2363 0.742952 11.6899 0.70874 10.9141C0.675516 10.1578 0.666749 9.9134 0.666748 8.00293C0.666748 6.09266 0.674641 5.84729 0.710693 5.08789C0.744954 4.31198 0.871756 3.76864 1.05737 3.28809C1.2246 2.84462 1.47627 2.43581 1.79565 2.08496L1.93433 1.94043L2.15015 2.15039L1.93823 1.93555C2.32004 1.54611 2.7791 1.24881 3.28979 1.05566C3.76827 0.869912 4.3147 0.743187 5.09058 0.708984C5.84726 0.675752 6.09148 0.667969 8.00269 0.667969ZM7.99976 4.52734C6.08223 4.52758 4.52612 6.08329 4.52612 8.00098C4.52622 9.91858 6.08229 11.4744 7.99976 11.4746C9.91753 11.4746 11.4743 9.91873 11.4744 8.00098C11.4744 6.08314 9.91759 4.52734 7.99976 4.52734ZM12.2458 2.21094C11.3933 2.21094 10.7019 2.90211 10.7019 3.75488C10.702 4.60744 11.3933 5.29883 12.2458 5.29883C13.0985 5.29881 13.7897 4.60746 13.7898 3.75488C13.7898 2.90209 13.0985 2.21096 12.2458 2.21094Z" fill="#394049"/>
                </svg>
            a.social-link(target='_blank' href="https://www.facebook.com/inc.avalon")
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.5395 2.65667H12V0.112667C11.748 0.078 10.8814 0 9.87218 0C7.76635 0 6.32381 1.32467 6.32381 3.75933V6H4V8.844H6.32381V16H9.1729V8.84467H11.4027L11.7567 6.00067H9.17224V4.04133C9.1729 3.21933 9.39422 2.65667 10.5395 2.65667Z" fill="#394049"/>
                </svg>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.5395 2.65667H12V0.112667C11.748 0.078 10.8814 0 9.87218 0C7.76635 0 6.32381 1.32467 6.32381 3.75933V6H4V8.844H6.32381V16H9.1729V8.84467H11.4027L11.7567 6.00067H9.17224V4.04133C9.1729 3.21933 9.39422 2.65667 10.5395 2.65667Z" fill="#394049"/>
                </svg>
            a.social-link(target='_blank' href="https://t.me/+1B64cBzpn3BhOTcy")
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.27827 9.9088L6.0136 13.2592C6.39227 13.2592 6.55628 13.1128 6.75295 12.937L8.52832 11.41L12.2071 13.8346C12.8818 14.173 13.3571 13.9948 13.5391 13.276L15.9538 3.09284L15.9545 3.09224C16.1685 2.19464 15.5938 1.84364 14.9365 2.06384L0.742803 6.95442C-0.225887 7.29282 -0.21122 7.77881 0.578132 7.99901L4.20689 9.01481L12.6358 4.26823C13.0324 4.03183 13.3931 4.16263 13.0964 4.39903L6.27827 9.9088Z" fill="#394049"/>
                </svg>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.27827 9.9088L6.0136 13.2592C6.39227 13.2592 6.55628 13.1128 6.75295 12.937L8.52832 11.41L12.2071 13.8346C12.8818 14.173 13.3571 13.9948 13.5391 13.276L15.9538 3.09284L15.9545 3.09224C16.1685 2.19464 15.5938 1.84364 14.9365 2.06384L0.742803 6.95442C-0.225887 7.29282 -0.21122 7.77881 0.578132 7.99901L4.20689 9.01481L12.6358 4.26823C13.0324 4.03183 13.3931 4.16263 13.0964 4.39903L6.27827 9.9088Z" fill="#394049"/>
                </svg>
            a.social-link(target='_blank' href="https://www.youtube.com/@avalon3540/")
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.00293 2C8.04518 2.00019 11.233 2.0208 13.3447 2.17285L13.3721 2.17578C13.3959 2.17892 13.4231 2.18228 13.4521 2.18555C13.8032 2.22509 14.5323 2.30807 15.1758 2.98633C15.7327 3.56327 15.8683 4.69767 15.8818 4.8252V4.83203C15.8866 4.88522 15.9999 6.14877 16 7.41699V8.60254C16 9.8683 15.887 11.1289 15.8818 11.1865L15.8809 11.2031C15.8652 11.3277 15.7111 12.4379 15.1807 13.0088C14.5442 13.7021 13.8264 13.7772 13.4814 13.8135C13.4485 13.8169 13.4183 13.8207 13.3916 13.8242L13.3633 13.8271C11.2534 13.979 8.07034 13.9998 8.02246 14H8.0127C7.85036 13.9977 4.02143 13.9412 2.7998 13.8262L2.7627 13.8203C2.72455 13.8137 2.66845 13.8081 2.60352 13.8008C2.1919 13.7541 1.42651 13.6666 0.821289 13.0107C0.267516 12.434 0.131893 11.3222 0.118164 11.1953L0.117188 11.1865C0.111799 11.1263 1.29346e-05 9.8669 0 8.60254V7.41699C0 6.14877 0.112427 4.8851 0.117188 4.83203L0.119141 4.81641C0.134888 4.69166 0.288944 3.58151 0.819336 3.01074C1.46474 2.30777 2.18624 2.2252 2.5332 2.18555C2.56042 2.1824 2.58569 2.1788 2.6084 2.17578L2.63672 2.17285C4.7697 2.02066 7.96134 2.00015 7.99707 2H8.00293ZM6.83008 5.6084C6.61609 5.50158 6.36303 5.50563 6.15332 5.61914C5.94336 5.73284 5.81836 5.93429 5.81836 6.15723V9.84668C5.81836 10.0685 5.94285 10.269 6.15137 10.3828C6.26027 10.4422 6.38097 10.4727 6.50195 10.4727C6.61275 10.4726 6.72399 10.4477 6.82617 10.3975L10.5488 8.56836C10.7697 8.45975 10.908 8.24979 10.9092 8.02051C10.9101 7.79119 10.7739 7.57994 10.5537 7.46973L6.83008 5.6084Z" fill="#394049"/>
                </svg>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.00293 2C8.04518 2.00019 11.233 2.0208 13.3447 2.17285L13.3721 2.17578C13.3959 2.17892 13.4231 2.18228 13.4521 2.18555C13.8032 2.22509 14.5323 2.30807 15.1758 2.98633C15.7327 3.56327 15.8683 4.69767 15.8818 4.8252V4.83203C15.8866 4.88522 15.9999 6.14877 16 7.41699V8.60254C16 9.8683 15.887 11.1289 15.8818 11.1865L15.8809 11.2031C15.8652 11.3277 15.7111 12.4379 15.1807 13.0088C14.5442 13.7021 13.8264 13.7772 13.4814 13.8135C13.4485 13.8169 13.4183 13.8207 13.3916 13.8242L13.3633 13.8271C11.2534 13.979 8.07034 13.9998 8.02246 14H8.0127C7.85036 13.9977 4.02143 13.9412 2.7998 13.8262L2.7627 13.8203C2.72455 13.8137 2.66845 13.8081 2.60352 13.8008C2.1919 13.7541 1.42651 13.6666 0.821289 13.0107C0.267516 12.434 0.131893 11.3222 0.118164 11.1953L0.117188 11.1865C0.111799 11.1263 1.29346e-05 9.8669 0 8.60254V7.41699C0 6.14877 0.112427 4.8851 0.117188 4.83203L0.119141 4.81641C0.134888 4.69166 0.288944 3.58151 0.819336 3.01074C1.46474 2.30777 2.18624 2.2252 2.5332 2.18555C2.56042 2.1824 2.58569 2.1788 2.6084 2.17578L2.63672 2.17285C4.7697 2.02066 7.96134 2.00015 7.99707 2H8.00293ZM6.83008 5.6084C6.61609 5.50158 6.36303 5.50563 6.15332 5.61914C5.94336 5.73284 5.81836 5.93429 5.81836 6.15723V9.84668C5.81836 10.0685 5.94285 10.269 6.15137 10.3828C6.26027 10.4422 6.38097 10.4727 6.50195 10.4727C6.61275 10.4726 6.72399 10.4477 6.82617 10.3975L10.5488 8.56836C10.7697 8.45975 10.908 8.24979 10.9092 8.02051C10.9101 7.79119 10.7739 7.57994 10.5537 7.46973L6.83008 5.6084Z" fill="#394049"/>
                </svg>
            a.social-link(target='_blank' href="https://www.linkedin.com/company/18121728/")
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.892309 5.51868H3.76328V15.3307H0.892309V5.51868ZM2.33317 0.664062C2.66281 0.664062 2.98504 0.767901 3.25912 0.962447C3.5332 1.15699 3.74682 1.43351 3.87297 1.75703C3.99911 2.08055 4.03212 2.43654 3.96781 2.77998C3.9035 3.12343 3.74477 3.4389 3.51168 3.68651C3.27859 3.93412 2.98162 4.10274 2.65832 4.17106C2.33502 4.23938 1.99991 4.20431 1.69536 4.07031C1.39082 3.9363 1.13052 3.70937 0.947385 3.41821C0.764249 3.12705 0.666504 2.78475 0.666504 2.43457C0.666504 1.965 0.842097 1.51467 1.15466 1.18263C1.46722 0.850598 1.89114 0.664062 2.33317 0.664062Z" fill="#394049"/>
                    <path d="M6 5.57675H8.8718V6.91168H8.91106C9.19865 6.41458 9.61393 6.00574 10.1127 5.72866C10.6115 5.45158 11.1751 5.31663 11.7436 5.33816C14.778 5.33816 15.3333 7.36044 15.3333 9.98486V15.3359H12.3381V10.587C12.3381 9.45088 12.3381 7.99666 10.7788 7.99666C9.21955 7.99666 8.98397 9.22934 8.98397 10.5018V15.3303H6V5.57675Z" fill="#394049"/>
                </svg>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.892309 5.51868H3.76328V15.3307H0.892309V5.51868ZM2.33317 0.664062C2.66281 0.664062 2.98504 0.767901 3.25912 0.962447C3.5332 1.15699 3.74682 1.43351 3.87297 1.75703C3.99911 2.08055 4.03212 2.43654 3.96781 2.77998C3.9035 3.12343 3.74477 3.4389 3.51168 3.68651C3.27859 3.93412 2.98162 4.10274 2.65832 4.17106C2.33502 4.23938 1.99991 4.20431 1.69536 4.07031C1.39082 3.9363 1.13052 3.70937 0.947385 3.41821C0.764249 3.12705 0.666504 2.78475 0.666504 2.43457C0.666504 1.965 0.842097 1.51467 1.15466 1.18263C1.46722 0.850598 1.89114 0.664062 2.33317 0.664062Z" fill="#394049"/>
                    <path d="M6 5.57675H8.8718V6.91168H8.91106C9.19865 6.41458 9.61393 6.00574 10.1127 5.72866C10.6115 5.45158 11.1751 5.31663 11.7436 5.33816C14.778 5.33816 15.3333 7.36044 15.3333 9.98486V15.3359H12.3381V10.587C12.3381 9.45088 12.3381 7.99666 10.7788 7.99666C9.21955 7.99666 8.98397 9.22934 8.98397 10.5018V15.3303H6V5.57675Z" fill="#394049"/>
                </svg>
            a.social-link(target='_blank' href="https://pin.it/7LXktjFnZ")
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.99997 0C3.58173 0 0 3.58174 0 8C0 11.3892 2.10865 14.2865 5.08457 15.4522C5.01467 14.8192 4.95145 13.8458 5.11231 13.1548C5.2577 12.5304 6.05041 9.17824 6.05041 9.17824C6.05041 9.17824 5.81111 8.699 5.81111 7.99049C5.81111 6.87809 6.45587 6.04761 7.25868 6.04761C7.94121 6.04761 8.27087 6.56004 8.27087 7.1745C8.27087 7.86091 7.83386 8.88714 7.60834 9.83815C7.41987 10.6344 8.00764 11.2838 8.793 11.2838C10.2149 11.2838 11.3078 9.78451 11.3078 7.62037C11.3078 5.7049 9.9315 4.36566 7.96619 4.36566C5.68992 4.36566 4.35384 6.07299 4.35384 7.83743C4.35384 8.52502 4.61871 9.26231 4.94922 9.66313C5.0146 9.74234 5.02418 9.81173 5.0047 9.89258C4.94398 10.1453 4.80902 10.6886 4.78252 10.7999C4.74764 10.9463 4.66658 10.9774 4.51497 10.9068C3.51582 10.4417 2.89113 8.98092 2.89113 7.80759C2.89113 5.28402 4.72468 2.96642 8.17703 2.96642C10.9522 2.96642 13.1089 4.944 13.1089 7.58686C13.1089 10.344 11.3705 12.5629 8.9576 12.5629C8.14693 12.5629 7.38485 12.1417 7.12398 11.6442C7.12398 11.6442 6.72284 13.1717 6.62559 13.546C6.44499 14.2409 5.95742 15.1119 5.6313 15.6433C6.3798 15.875 7.17526 16 7.99997 16C12.4183 16 16 12.4183 16 8C16 3.58174 12.4183 0 7.99997 0Z" fill="#394049"/>
                </svg>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.99997 0C3.58173 0 0 3.58174 0 8C0 11.3892 2.10865 14.2865 5.08457 15.4522C5.01467 14.8192 4.95145 13.8458 5.11231 13.1548C5.2577 12.5304 6.05041 9.17824 6.05041 9.17824C6.05041 9.17824 5.81111 8.699 5.81111 7.99049C5.81111 6.87809 6.45587 6.04761 7.25868 6.04761C7.94121 6.04761 8.27087 6.56004 8.27087 7.1745C8.27087 7.86091 7.83386 8.88714 7.60834 9.83815C7.41987 10.6344 8.00764 11.2838 8.793 11.2838C10.2149 11.2838 11.3078 9.78451 11.3078 7.62037C11.3078 5.7049 9.9315 4.36566 7.96619 4.36566C5.68992 4.36566 4.35384 6.07299 4.35384 7.83743C4.35384 8.52502 4.61871 9.26231 4.94922 9.66313C5.0146 9.74234 5.02418 9.81173 5.0047 9.89258C4.94398 10.1453 4.80902 10.6886 4.78252 10.7999C4.74764 10.9463 4.66658 10.9774 4.51497 10.9068C3.51582 10.4417 2.89113 8.98092 2.89113 7.80759C2.89113 5.28402 4.72468 2.96642 8.17703 2.96642C10.9522 2.96642 13.1089 4.944 13.1089 7.58686C13.1089 10.344 11.3705 12.5629 8.9576 12.5629C8.14693 12.5629 7.38485 12.1417 7.12398 11.6442C7.12398 11.6442 6.72284 13.1717 6.62559 13.546C6.44499 14.2409 5.95742 15.1119 5.6313 15.6433C6.3798 15.875 7.17526 16 7.99997 16C12.4183 16 16 12.4183 16 8C16 3.58174 12.4183 0 7.99997 0Z" fill="#394049"/>
                </svg>






