.construction(id="construction")
  .container
    .construction__title.color-darkblue.d-fz-50.text-uppercase.mob-fz-32 Хід будівництва
    //- .construction__subtitle.color-darkblue.d-fz-32.mob-fz-24 Прогрес робіт
    //- .construction__filter
    //-   select.select(data-lenis-prevent)
    //-     option(value="1") Будинок. 2 - 4 кв. 2025 р.
    //-     option(value="2") Будинок. 2 - 4 кв. 2026 р.
    //-     option(value="3") Будинок. 2 - 4 кв. 2027 р.
    //-   select.select(data-lenis-prevent)
    //-     option(value="1") 2 Черга
    //-     option(value="2") 3 Черга
    //-     option(value="3") 4 Черга
    //- .construction__table.color-darkblue.default-font2
    //-   .construction__table-group.mob-fz-12
    //-     div Дата оновлення (12.03.2025)
    //-     div Дата планового завершення будівництва (20.05.2027)
    //-   .construction__table-group
    //-     .d-fz-18.construction__table-title.mob-fz-16 Статус будівництва
    //-     .construction__progress-item.d-fz-14
    //-       .construction__progress-item-title Будівництво
    //-       .construction__progress-item-progress(style="--progress: 31%;")
    //-         div 31%
    //-         .construction__progress-item-progress-bar 
    //-     .construction__progress-item.d-fz-14
    //-       .construction__progress-item-title Фундмент
    //-       .construction__progress-item-progress(style="--progress: 100%;")
    //-         div 100%
    //-         .construction__progress-item-progress-bar 
    //-     .construction__progress-item.d-fz-14
    //-       .construction__progress-item-title Каркас підземна частина
    //-       .construction__progress-item-progress(style="--progress: 47%;")
    //-         div 47%
    //-         .construction__progress-item-progress-bar 
    //-     .construction__progress-item.d-fz-14
    //-       .construction__progress-item-title Каркас наземна частина
    //-       .construction__progress-item-progress(style="--progress: 42%;")
    //-         div 42%
    //-         .construction__progress-item-progress-bar 
    //-     .construction__progress-item.d-fz-14
    //-       .construction__progress-item-title Покрівля
    //-       .construction__progress-item-progress(style="--progress: 18%;")
    //-         div 18%
    //-         .construction__progress-item-progress-bar 
    //-     .construction__progress-item.d-fz-14
    //-       .construction__progress-item-title Фасадні роботи
    //-       .construction__progress-item-progress(style="--progress: 4%;")
    //-         div 4%
    //-         .construction__progress-item-progress-bar 
    //-   .construction__table-group
    //-     .d-fz-18.construction__table-title.mob-fz-16 Оздоблювальні роботи
    //-     .construction__progress-item.d-fz-14
    //-       .construction__progress-item-title Зовнішні стіни та перегородки
    //-       .construction__progress-item-progress(style="--progress: 15%;")
    //-         div 15%
    //-         .construction__progress-item-progress-bar 
    //-     .construction__progress-item.d-fz-14
    //-       .construction__progress-item-title Двері
    //-       .construction__progress-item-progress(style="--progress: 0%;")
    //-         div 0%
    //-         .construction__progress-item-progress-bar 
    //-     .construction__progress-item.d-fz-14
    //-       .construction__progress-item-title Вікна
    //-       .construction__progress-item-progress(style="--progress: 7%;")
    //-         div 7%
    //-         .construction__progress-item-progress-bar 
    //-     .construction__progress-item.d-fz-14
    //-       .construction__progress-item-title Радіатори
    //-       .construction__progress-item-progress(style="--progress: 4%;")
    //-         div 4%
    //-         .construction__progress-item-progress-bar 
    //-     .construction__progress-item.d-fz-14
    //-       .construction__progress-item-title Ліфти
    //-       .construction__progress-item-progress(style="--progress: 2%;")
    //-         div 2%
    //-         .construction__progress-item-progress-bar 
    //-   .construction__table-group
    //-     .d-fz-18.construction__table-title.mob-fz-16 Благоустрій
    //-     .construction__progress-item.d-fz-14
    //-       .construction__progress-item-title МЗК
    //-       .construction__progress-item-progress(style="--progress: 42%;")
    //-         div 42%
    //-         .construction__progress-item-progress-bar 
    //-     .construction__progress-item.d-fz-14
    //-       .construction__progress-item-title Благоустрій території
    //-       .construction__progress-item-progress(style="--progress: 14%;")
    //-         div 14%
    //-         .construction__progress-item-progress-bar
    .construction__filter
      select.select(data-construction-filter="month" data-lenis-prevent)
        option(value="1") Січень
        option(value="2") Лютий
        option(value="3") Березень
        option(value="4") Квітень
        option(value="5") Травень
        option(value="6") Червень
        option(value="7") Липень
        option(value="8") Серпень
        option(value="9") Вересень
        option(value="10") Жовтень
        option(value="11") Листопад
        option(value="12") Грудень
      select.select(data-construction-filter="year" data-lenis-prevent)
        option(value="2024") 2024
        option(value="2023") 2023
        option(value="2022") 2022
      select.select(data-construction-filter="que" data-lenis-prevent)
        option(value="1") 1
        option(value="2") 2
    .construction__slider.swiper-container(data-construction-slider)
      .swiper-wrapper
        each val in [1,2,3,4,5,6,6,6,6,6,6,6]
          .swiper-slide.construction-card(data-construction-card data-year="2024" data-month=val data-que="1")
            .construction-card__top 12.#{val}.2024
            .construction-card__image
              .construction-card__image-wrap
                //- if val%2 === 0
                //-   .construction-card__video-play(data-popup-video="#")
                //-     <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                //-       <g clip-path="url(#clip0_59_511)">
                //-       <path d="M11.1212 4.92738C12.2929 5.53242 12.2929 7.08084 11.1212 7.68588L2.56931 12.1011C1.42004 12.6945 0 11.9322 0 10.7219V1.89139C0 0.681094 1.42004 -0.0811911 2.56931 0.512168L11.1212 4.92738Z" fill="#F8F7F3"/>
                //-       </g>
                //-       <defs>
                //-       <clipPath id="clip0_59_511">
                //-       <rect width="12" height="12" fill="white" transform="translate(0 0.306641)"/>
                //-       </clipPath>
                //-       </defs>
                //-     </svg>

                img(src="./assets/images/construction/image1.jpg", alt="")
          .swiper-slide.construction-card(data-construction-card data-year="2024" data-month=1 data-que="2")
            .construction-card__top 12.#{val}.2024
            .construction-card__image
              .construction-card__image-wrap
                //- if val%2 === 0
                //-   .construction-card__video-play(data-popup-video="#")
                //-     <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                //-       <g clip-path="url(#clip0_59_511)">
                //-       <path d="M11.1212 4.92738C12.2929 5.53242 12.2929 7.08084 11.1212 7.68588L2.56931 12.1011C1.42004 12.6945 0 11.9322 0 10.7219V1.89139C0 0.681094 1.42004 -0.0811911 2.56931 0.512168L11.1212 4.92738Z" fill="#F8F7F3"/>
                //-       </g>
                //-       <defs>
                //-       <clipPath id="clip0_59_511">
                //-       <rect width="12" height="12" fill="white" transform="translate(0 0.306641)"/>
                //-       </clipPath>
                //-       </defs>
                //-     </svg>

                img(src="./assets/images/construction/image1.jpg", alt="")
          