@font-face {
	font-family: 'SangBleu Kingdom';
	font-display: swap;
	src: url('../fonts/SangBleuKingdom-Regular-WebXL.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'SangBleu Kingdom';
	font-display: swap;
	src: url('../fonts/SangBleuKingdom-RegularItalic-WebXL.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Fixel Variable';
	font-display: swap;
	src: url('../fonts/FixelText-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}