ul 
  li Укриття в підземному паркінгу з генератором, опаленням, санвузлом та дитячою зоною.
  li Двір повністю вільний від автомобілів.
  li Система відеоспостереження без сліпих зон на всій території.
  li Збалансоване освітлення — достатнє для безпеки, комфортне для відпочинку.
  li Сертифіковані безпечні матеріали на всіх об'єктах, включно з дитячими майданчиками.
  li Ви отримаєте стартові комплекти від Ajax, які включають хаб, датчик руху, датчик відчинення та брелок із тривожною кнопкою. На базі цих комплектів можна далі нарощувати систему «розумного» будинку.
img(src="./assets/images/advantages/tab_safety.jpg", alt="", srcset="" loading="lazy")